[2021-07-29 02:50] Sakurann commented on #211
+1 to explicitly defining a new optional property to specify the `issuer` of the credential you are asking for.

one of the reasons during PE v1.0 discussions this property was avoided was for a fear of ending having a long list.
I would propose having a very clear language in a new text saying
- if NO restrictions to the issuer of the credential, leave out this property
- define syntax that you c

[2021-07-29 03:02] Sakurann commented on #212
+1, simplification proposed here is logical and clean.
Since this would be a breaking change, it would be good to get the opinion of existing implementers - if this update to the syntax could be tolerable (also in light of few other updates and potentially going to PE V2.0)

[2021-07-29 03:07] Sakurann commented on #213
I think there are no objections to renaming the property name itself to `type`.

[2021-07-29 03:25] Sakurann commented on #213
(separating out another issues discussed here)
+1 to using array instead of array of objects.

whether it should be a string is an interesting question, but given that input_descriptors can grow bigger in size, `using multiple ' input_descriptors' along with 'submission_requirements'` might result in bigger requests than having an array of types.

I also think
[code]
should be interpreted as reque

[2021-07-29 03:28] Sakurann commented on #228
ok, great, would you be ok with me doing a PR adding a text saying something along the lines of "optional components are not required to be included in the PE and can be included in the 'transport protocol' outside of PE, as specified by the respective 'transport protocol' "?

[2021-07-29 03:35] Sakurann commented on #232
@csuwildcat thanks for the comments! limiting this comment to `Presentation Definition top-level id ` ,so this:
[code]
judging from the title, sounds like we agree it can be made optional - happy to make a draft PR saying something like "presentation_definition.id is optional" - if that's ok? 'transport protocol' would specify whether to mandate `id` and how to include it if used.

though this is

[2021-07-29 16:34] OR13 commented on #213
https://w3c.github.io/vc-data-model/#types

Setting aside the JSON-LD aspect of credential types, the examples are clearly targeted at JSON Schema... This is probably a mistake, I would rely on this property from the W3C Standard for JSON Schema instead:

https://w3c.github.io/vc-data-model/#data-schemas

I strongly suggest not conflating JSON-LD types and JSON Schema `$ref` / `oneOne`, etc...

[2021-07-29 16:39] brentzundel commented on #211
I'm fine with making `issuer` a top-level constraint, and specifying that the value must be a URI

[2021-07-29 16:49] brentzundel commented on #212
+1 from me for v2 of PE

[2021-07-29 17:02] brentzundel commented on #228
slight re-wording that I'd be fine with, "optional PE components MAY be be included in the 'transport protocol' rather than inside the PE object, as specified by the respective 'transport protocol', provided the 'transport protocol' also describes how to re-incorporate the components into the PE object prior to PE processing."

[2021-07-29 17:09] OR13 commented on #213
I keep forgetting this spec isn't about W3C VC Data Model...

[2021-07-29 17:09] David-Chadwick commented on #211
There is an alternative to specifying a long list of issuers, which could get unduly long e.g. if it were to be every bank that issues a VISA credit card; and that is to specify the trust federation that the issuer must belong to e.g. the.visa.network. To cater for this you would add "trust_federation" as an alternative to the "issuer" property

[2021-07-29 17:17] OR13 commented on #228
Proposed language:

Implementers MUST support the normative data model and processing requirements, however, implementers MAY rely on transport specific intermediate representations, so long as they do not impose processing requirements on intermediate representations that are not normatively defined in the PE spec.

[2021-07-29 17:21] David-Chadwick commented on #213
Filtering on the JSON schema rather than the credential type is semantically wrong in my opinion. For example, the address schema element occurs in many different types of VCs. But the RP will most likely want to specify the type of credential that they want to be presented that contains an address, rather than any type of credential that contains an address schema element in it. Different types o

[2021-07-29 17:26] OR13 commented on #213
The spec does not care about what you move around.... channeling @csuwildcat does `bananaOctopus` have an `@type` ? or a schema?

[2021-07-29 17:32] OR13 commented on #232
I am strongly in favor of keeping `id` as required.

[2021-07-29 17:33] brentzundel commented on #232
This was discussed on a DIF C&C spec drafting call and everyone present was strongly opposed to making the presentation.id optional.

[2021-07-29 17:35] OR13 commented on #233
Removing `id` is a bad idea.

[2021-07-29 17:40] brentzundel commented on #234
I agree that eventual use of an algorithm to derive the frame would be the best way to go, but definitely wouldn't want to wait for that to be supported. I support adding a frame property.

[2021-07-29 17:46] OR13 commented on #214
I think it would be good to clarify that `ldp_vc` and `ldp_vp` are descriptions of formats that are normatively defined in the VC Data Model, specifically to avoid the kind of confusion that VCI has created regard "what is a vc".

[2021-07-29 17:56] OR13 commented on #229
I agree with @csuwildcat folks are welcome to rebuild `presentation_submission` from transport specific intermediate representations... thats none of this specs business. You do need to form a normatively conformant data model, to conform to the spec at the end of that process.

[2021-07-29 18:34] JaceHensley commented on #211
I would be opposed to adding an `issuer` property to `constraints`. Because `issuer` only has meaning when talking about Verifiable Credentials, and Presentation Exchange doesn't only support VCs it doesn't care what it's moving around. As far as PE is concerned `$.issuer` is no different than `$.someOtherField`

[2021-07-29 18:38] JaceHensley commented on #230
@tlodderstedt Can you provide more information about how you are embedding the `presentation_definition` object in your protocol specific target?

[2021-07-29 21:01] TimoGlastra commented on #212
I'm generally in favour of this change, but if this is the difference that would require implementations to support a new major version I'd be against it. It doesn't change anything significant about the protocol and will make current implementations 99% the same, but just different enough to introduce complications. I'm particularly interested in what the other changes would be with regards to go

[2021-07-30 17:11] JaceHensley opened #235 "Suggestion: Submission Requirements should have a required `id` field"
I think it would be nice to have a required `id` on Submission Requirements. Mainly for when the submitted Presentation Submission is tested against the corresponding Presentation Definition. Currently you have to keep track of the whole SR object if you want to know which SR was not satisfied by the PS, instead it would be nice to just have to keep track of the SR's id.

[2021-08-03 12:14] tlodderstedt commented on #211
@JaceHensley what other use cases beside VCs/VPs is PE used for in the wild?

[2021-08-03 12:32] tlodderstedt commented on #228
I think there is a need for formats at two different levels:

1. capabilities: what format are verifiers/holders able to process
2. credential constraints: what format expects a verifier a certain credential to be represented in.

(1) can be represented in OIDC using client/OP metadata or the way PE defines it
(2) is missing in PE - it is however very important since it influences the way paths ar

[2021-08-03 12:39] tlodderstedt commented on #232
+1 for making the presentation_definition id optional. We (OIDC4VP) don't need it since we don’t use presentation_submission elements.

[2021-08-03 12:41] tlodderstedt commented on #230
sure. We embed presentation_definition within the OIDC claims parameter.

See https://openid.bitbucket.io/connect/openid-connect-4-verifiable-presentations-1_0.html#name-requesting-verifiable-prese

[2021-08-03 16:44] JaceHensley commented on #211
🤷 it doesn't really matter tho cause PE isn't for VCs/VPs specifically, it doesn't care what you throw at it but if you add a special `issuer` field all of a sudden it does

[2021-08-03 16:48] tlodderstedt commented on #211
I don't think so since issuer is a general concept in identity.

[2021-08-03 18:06] JaceHensley commented on #211
But it would mean something different in each format right ($.issuer vs $.issuer.id vs $.iss)? So if a new format came out that people wanted to use PE with then all implementations would have to be updated

[2021-08-03 18:19] tlodderstedt commented on #211
I think it's completely the opposite. If there would be an abstract issuer field, this could be mapped to format specific meaning. So no need to change anything as long as an implementation does not support the new format/kind of assertion.

[2021-08-03 19:02] Sakurann commented on #211
Yes, either it is a VC/VP, ID Token, mDL (honestly, what else?) there is a common concept of the "issuer" and the proposal is to have one way to specify the issuer by abstracting it.

[2021-08-03 23:06] Sakurann commented on #232
what are the arguments in DIF C&C to make top-level presentation.id required?
Why can't we keep it optional in the PE and leave to the "transport protocols" to not use or make it mandatory? Several transport protocols will not be directly talking to each other, while keeping it optional in the PE will still allow use the same PE libraries across protocols.

[2021-08-04 16:41] brentzundel commented on #232
It is already required. There are implementers that rely on that feature.

We are discussing the possibility of changing it from being required to being optional.

I'm not sure this is true. If a PE library relies on the existence of a presentation_definition.id property, but the transport protocol doesn't require presentation_defintion.id, why should that matter? Sounds to me like the transport p

[2021-08-07 00:36] csuwildcat commented on #234
No problem at all with this. Let's get a revision going to unblock you spec-wise

[2021-08-08 03:01] kimdhamilton commented on #230
Thanks @tlodderstedt, this is helpful.

Just to clarify something -- is it true that the "OIDC for VPs" approach never has a need for `descriptor_map` in the response? I don't see it in the spec, but just want to check.

[2021-08-08 07:00] tlodderstedt commented on #230
We haven't seen the need so far but are discussing potential benefits with PE authors.

[2021-08-08 18:06] kimdhamilton commented on #230
Would appreciate it if the rest of us could be privy to that conversation too...

[2021-08-08 18:23] tlodderstedt commented on #230
Me too :-) I requested access to the DIF Slack so we can conduct the conversation there.

[2021-08-08 18:39] kimdhamilton commented on #230
Let's make that happen!

The call to modularize PE already resonates with me, and OIDC integration would be a huge bonus. Given the scope of changes needed, incremental revisions like making various fields optional are unlikely to yield a satisfactory result to anyone. This issue seems like a good one to start

The changes requested for OIDC seem better suited for a PE v2 revision with goals of:
1

[2021-08-08 18:51] kimdhamilton commented on #230
Quick rathole on IDs, which were troubling me for different reasons than those presented by the OIDC use cases.

What is the expectation of id permanence over time? If id corresponds to a URI, with the expectation of a separate lookup, is this prohibitive for some use cases? Should there be expectation of caching?

[2021-08-09 11:08] csuwildcat commented on #230
@kimdhamilton the IDs on input descriptors are just to link the submitted credentials to their descriptors for efficient evaluation, instead of random hit test looping.

[2021-08-09 16:36] kimdhamilton commented on #230
right, I was referring to some of the higher-level IDs, but I will cross out that comment because that doesn't belong in this thread.

[2021-08-09 17:26] JaceHensley commented on #230
I think this would be perfect for a Discussion https://docs.github.com/en/discussions/quickstart could we turn that on for this repo?

[2021-08-09 18:30] kimdhamilton commented on #230
@JaceHensley, that makes sense. @csuwildcat: discussions aren't enabled yet for this repo; could you turn them on?

[2021-08-09 19:43] csuwildcat commented on #230
@JaceHensley @kimdhamilton just turned on Discussions

[2021-08-10 03:38] kimdhamilton commented on #230
moving some of this discussion (on modularization of PE) to https://github.com/decentralized-identity/presentation-exchange/discussions/236

[2021-08-11 00:19] kimdhamilton opened #237 "Ambiguous Language in Input Evaluation"
In [Input Evaluation](https://identity.foundation/presentation-exchange/#input-evaluation) 2, there is an ambiguity, possibly because "Field Query Result" is undefined.

Suppose we have an input constraint like this:
[code]

Then suppose the input contains this VC:
[code]

Input Evaluation Step 2 excerpt is below:

       1. Iterate the Input Descriptor path array of JSONPath string expressions fr

[2021-08-11 00:50] kimdhamilton commented on #237
p.s. I can make a stab at a PR, just wanted to confirm which is intended before doing so. I'd lean towards removing the term "Field Query Result", which is undefined and otherwise unused in the rest of the spec.

[2021-08-11 01:42] JaceHensley commented on #237
Oh interesting that's a really good edge case, I agree with you

[2021-08-11 18:46] kimdhamilton opened #238 "Clarify predicate or remove it from the spec"
There have been several issues describing concerns with predicate, such as the following:
- https://github.com/decentralized-identity/presentation-exchange/issues/173
- https://github.com/decentralized-identity/presentation-exchange/issues/175

Despite being closed, it doesn't seem like the concerns were addressed. I have the following additional concerns:

1. What does predicate=preferred mean in

[2021-08-11 18:54] swcurran commented on #238
My view is that predicates are incredibly important for privacy reasons, whether the VC supports ZKP or not.  It allows the verifier to provide to the holder requirements for whether a verifiable presentation will be accepted for a given business purpose.  That helps the holder decide if they will respond to the request or not. Not responding to a request that will not be accepted is privacy prese

[2021-08-11 18:58] kimdhamilton commented on #238
The concerns I raise are the very practical ones of creating a testable spec.

[2021-08-13 06:58] tlodderstedt commented on #232
Hi all, based on a conversation with @OR13 in the DIF Slack, I think OIDC4VPs could utilize presentation submissions and therefore also presentation submission and input descriptor IDs.

However in order to make the live of implementers easier, I suggest to make presentation_definition IDs unique within the context of a certain transport protocol request only. That would allow implementers to use

[2021-08-13 15:07] OR13 commented on #232
https://identity.foundation/presentation-exchange/#presentation-definition

it says "unique" not "globally unique"... so I would interpret this as valid:

[code]

[2021-08-13 15:22] tlodderstedt commented on #232
Thanks for the clarification. This means my example is valid within the current spec? I'm asking since all examples in the spec use UUIDs.

[2021-08-13 15:24] OR13 commented on #232
@tlodderstedt AFAIK, @csuwildcat 's spec-up tool does not apply a "normative requirement" to the examples.

[2021-08-13 16:09] tlodderstedt commented on #232
That might be true, but examples guide readers. I suggest to add other examples of identifiers and make the namespace of the uniqueness clear.

[2021-08-13 16:18] csuwildcat commented on #232
What clarification do folks feel it needs? It currently says "must be a unique ID, such as a UUID", which simply provides one example of a type of unique ID. What is the desired wording change? If there's a need, can someone propose a clarification?

[2021-08-13 16:28] brentzundel commented on #232
I think it would be valuable to clarify the uniqueness requirement.
One suggestion is below, feedback welcome:

"The Presentation Definition MUST contain an id property. The value of this property SHOULD be a string that provides a unique ID for the desired context. For example, a UUID such as '32f54163-7166-48f1-93d8-ff217bdb0653' could provide an ID that is unique in a global context, and a simp

[2021-08-13 18:59] csuwildcat commented on #232
Looks good to me, let's include it in the list of things to change for this v2 effort. (PR welcome)

[2021-08-13 22:46] swcurran commented on #238
I would agree that clarification of both filter and predicate need review and clarification.

It appears to me that `filter` (not predicate) is what I referenced above in my comment about guidance from the verifier to the holder/prover about what will be accepted for a given use case.  However, it appears from my read of the spec that the filter expression value should be included in the presentat

[2021-08-18 20:15] csuwildcat commented on #213
PROPOSAL from OIDC/PE call:

1. Simplify current `schema`/type interrogation property to an OR array of URIs.
2. Add spec text/note to inform issuers that you may submit one cred that fulfills multiple descriptors.

Please provide feedback, and we can do a PR to add these modifications.

[2021-08-18 20:34] tlodderstedt opened #242 "format constraint in input_descriptor"
I think there is a need for formats at two different levels:

capabilities: what format are verifiers/holders able to process
credential constraints: what format expects a verifier a certain credential to be represented in.
(1) can be represented in OIDC using client/OP metadata or the way PE defines it
(2) is missing in PE - it is however very important since it influences the way paths are defin

[2021-08-18 20:36] tlodderstedt commented on #211
I see the challenge that the PE processor needs to know where to look for the issuer value in a particular credential (e.g. iss in JWTs). This introduces format specific logic into the PE processing.

[2021-08-18 20:43] csuwildcat commented on #232
@brentzundel can you do a PR to add the language you suggested?

[2021-08-28 13:07] tlodderstedt commented on #242
@David-Chadwick I suggested to add a constraint to the input descriptor to determine the credential format the verifier wants to receive. If there is a credential in the user's wallet with the correct schema/type but a different format, that credential simply does not fit the input descriptor so the wallet can reject the request or suggest the end-user to obtain a suitable credential.
The format e

[2021-08-29 08:44] David-Chadwick commented on #242
My understanding is that this is precisely the purpose of presentationDefinition.format. So there is no need for it in inputDescriptor

The credential would not fit the presentationDefinition.format and therefore would not be selected.

I think we need the specifiers of presentationDefinition.format to say precisely what the intent of the presentationDefinition.format definition is. From my perspe

[2021-08-29 21:17] kimdhamilton opened #245 "Editorial pass, part 1: items that need discussion"
This is the first batch of items from my editorial pass that we should discuss before fixing, as they may imply a change in scope, but are really intended to clarify for audiences that are less familiar with the context of this spec.

I'll submit any straightforward editorial fixes as PRs, but open issues like this on anything that likely needs discussion

@csuwildcat @brentzundel we can discuss o

[2021-08-31 14:50] awoie commented on #245
Could we provide an end-to-end example. Currently, I don't find an example for a PE submission + VP that matches a PE definition. Perhaps I'm missing something?

[2021-08-31 14:54] awoie commented on #245
Also, could we provide request and response examples in the appendix in the same section? Currently, I have to scroll through the entire doc to go from request (PE definition) to response (PE submission + VP).

[2021-09-02 17:23] kimdhamilton commented on #245
Discussion 9/2:
- 51 agreed
- 56 agreed
- 84 agreed, plus consider case-by-case where/how things are used
    - search "ref:"
- yes to test suite
- "proof of id control": => maybe just add clarification "here's how we define"

[2021-09-04 15:18] tlodderstedt commented on #242
A single presentation definition may contain multiple input descriptors. I basically don't buy into the assumption a verifier will be able to process every presentations/credentials in any possible format since credentials in different formats require different processing logic. Some need unmarshalling, others scheme/namespace/context handling. Signature validation differs, paths to end-user claim

[2021-09-09 17:23] csuwildcat commented on #242
PROPOSAL: add a `format` property inside Input Descriptors, the value of which must be the same object/syntax as defined in https://identity.foundation/presentation-exchange/spec/v1.0.0/#presentation-definition under the `format` property within it.

[2021-09-09 17:24] csuwildcat commented on #237
This has been addressed in @kimdhamilton's merged PR

[2021-09-09 17:24] #237 closed

[2021-09-09 17:27] kimdhamilton opened #247 "Editorial: need more navigable heading / structure"
Per discussion on Sept 9, it can be hard to refer to a precise area of the spec because some sections are quite large. We need an editorial pass to revisit that.

[2021-09-09 17:36] csuwildcat commented on #235
Per convo with Jace we can close this in favor of using existing structure/pointers.

[2021-09-09 17:36] #235 closed

[2021-09-09 17:39] csuwildcat commented on #234
@OR13 can you do a PR to add the frame prop to the spec text and JSON Schema? We want to get this in for the v2.0 convergence for OIDC that is very close to finalization (I think)

[2021-09-09 17:46] kimdhamilton commented on #227
actually there are multiple instances

[2021-09-09 17:52] csuwildcat commented on #213
ACTION ITEM: Daniel will do PR based on the agreed upon simplified array value, with bikeshed-forcing-prop name, for funzies.

[2021-09-09 17:54] csuwildcat commented on #211
Given we are going to add the per-Input Descriptor `format` prop, I am hoping we can retain the field-evaluated issuer check, given anyone who wants to isolate any issuer value by format can do so - is that OK with folks? (I believe the PE folks are onboard with this cc/ @JaceHensley @brentzundel @kimdhamilton)

[2021-09-09 17:56] csuwildcat commented on #229
Joint group has agreed to keep the PE Submission, just need to settle on where it goes. We'd like to close this in favor of the Issue tracking where it goes in the OIDC repo.

[2021-09-09 17:56] #229 closed

[2021-09-09 17:57] csuwildcat commented on #228
ACTION ITEM: We will externalize the top-level format property and change the spec text to reflect that it may live elsewhere prior to evaluation of candidate credentials.

[2021-09-09 18:00] csuwildcat commented on #212
Setting a deadline of next Wednesday September 15th to get feedback on whether or not this should still happen.

[2021-09-10 22:06] brentzundel commented on #207
the `field_id` property of a `same_subject` constraint, lists all of the `field.id`s of all the claims that should have the same subject. The spec explicitly states that such `field.id`s may come from other input descriptors.

This allows a verifier to use the `same_subject` constraint to require that the `first_name` claim from one JWT has the same subject as an `account_balance` claim from anoth

[2021-09-11 05:52] joshbax189 commented on #207
Thanks for your reply! (... and thanks in advance for reading a rather long reply, TL;DR is at the end ;) )

You're right: I didn't notice that field ids could come from other input descriptors. My assumption was that only the field ids defined in the descriptor could be used (that also makes the point about prevalence of multi-subject credentials moot, so let's leave that aside).

I still believe

[2021-09-15 20:51] brentzundel commented on #207
I don't disagree that having the `same_subject` in the `submission_requirements` might make it more clear what the full set of `same_subject` constraints may be, but I'm opposed to moving them for a number of reasons:
1. `submission_requirements` are used to describe which logical combinations of groups of inputs are acceptable. Using them to also define constraints on specific inputs doesn't fit

[2021-09-16 03:01] kimdhamilton commented on #227
fixed

[2021-09-16 03:01] #227 closed

[2021-09-22 14:14] nklomp opened #250 "Clarification on schema in Input Descriptors"
Hi,

As we are implementing a [PE library in typescript](https://github.com/Sphereon-Opensource/pe-js), we got a question which triggered internal discussion, so I guess the wording currently might not be explicit enough how the schema(s) in the Input Descriptors should be matched in the input evaluation.

[4.1.1](https://identity.foundation/presentation-exchange/#input-descriptor-object) lists:

[2021-09-22 21:44] David-Chadwick commented on #250
This issue was discussed in the Presentation Exchange/OIDF special session today and it was suggested that this field should be removed entirely, partly due to the confusion of what precisely it refers to, but more importantly, because it is unnecessary as the constraints object can be used to directly refer to any property of VC (including the type and credentialSchema properties), without there

[2021-09-22 22:55] kimdhamilton commented on #245
In addition to the changes in #252, I reviewed the "proof of identifier control" section and think no additional changes are needed. The scope mentioned by Brent I think is sufficiently clear (i.e. it's how we define these concepts)

[2021-09-22 22:58] kimdhamilton opened #253 "Editorial issues cont'd"
Breaking out remaining issues from #245

| Line no | Type | Suggestion |
|------- | ----- | ------------|
| 84      | Clarification | DID (and VC definitions) do not link to w3c specs. This is likely intentional but could be confusing as the audience will have a mix of understanding of the specs / context. Should we refer to the specs as informative? Do we need to clarify definitions are broader?

[2021-09-22 23:01] kimdhamilton opened #254 "Need test vectors and test suite"
#250 and others point to the need for a test suite and robust set of test vectors
Questions:
1. Who do we think has the most “conformant” implementation that would be a good starting point to test against?
2. Sphereon has a lot of great test cases. Do others? Can we use these as starting points?
3. Do we have any nice patterns to follow for existing/similar test suites we can model it on?

[2021-09-23 17:11] kimdhamilton commented on #254
References:
- https://www.npmjs.com/package/@sphereon/pe-js
- https://github.com/hellobloom/ssi-sdk/tree/feat/presentation-exchange-functionality/dev/packages/presentation-exchange

[2021-09-23 17:18] nklomp commented on #250
Hehe guess that works indeed.  Although I gues having a quick way to narrow down on a schema is nice from a user perspective as almost everyone will probably use that. Going through the constraints route is more precise, but also slightly harder

[2021-09-23 17:18] JaceHensley opened #256 "Remove "schema" from Input Descriptor"
The `schema` property on Input Descriptors is essentially just a special field constraint and what exactly it refers to is confusing. So instead of having a special field constraint verifiers can explicitly specify the fields they want to filter by (can be the `type` array or `credentialSchema` object)

[2021-09-23 17:20] OR13 commented on #256
Please provide a json example of what you would like to see.

cc @glcohen

[2021-09-23 17:30] JaceHensley commented on #256
Before:

[code]

Afters:

just type
[code]

just credentialSchema
[code]

both credentialSchema and type
[code]

[2021-09-23 17:57] glcohen commented on #256
I see what you're saying. There is ambiguity in what exact portion of the credential a given schema, or set of schemas, point to -- it could be just the `credentialSubject`, and it could be the entire credential, or any other set of fields. The main thing is to say "this schema applies to this credential _in some way_" -- the specific way is vague.

I still see value in noting that you're acceptin

[2021-09-23 18:23] JaceHensley commented on #256
Right now "schema" refers to the "type" array (valid LD or not) or the "$.credentialSchema" property OR some other way of determining the "schema" (in quotes cause it's not just JSON schema). And actually what you are describing here is more what the `constraints.fields[]` objects do, the specify a path and then a `filter` (JSON schema) for that property

That's true but a verifier can already giv

[2021-09-23 18:53] David-Chadwick commented on #256
It seems much cleaner, simpler and less ambiguous to simply remove the schema object altogether and to rely on the constraints object to tell the wallet exactly what the verifier is looking for

[2021-09-23 18:57] David-Chadwick commented on #250
I don't think the user will be involved in this, but rather the wallet software will use the descriptor to filter out credentials that match what the verifier requires, and then it will ask the user to choose if there is more than one credential that matches a verifier's requirement. Having ambiguity in what the verifier wants risks the chance of the user sending a credential that the wallet think

[2021-09-23 20:25] glcohen commented on #256
Purpose is a human readable descriptor. Schema intends to be machine processable, as is done in this library: https://github.com/workdaycredentials/ledger-common/blob/master/credential/presexchange/submission.go#L371

This is true, though the schema property is _not_ intended to simply be JSON Schemas. It is to be applied _before_ a credential is accepted for processing. Credentials _always_ refer

[2021-09-23 20:40] JaceHensley commented on #256
why does the machine need to know intent if it know how to process it?

yup and that's why I want to remove it, it's confusing and puts more work on PE implementations. The implementation would have to know where to check the `schema` property against (is it in the `type` array? is it the `credentialSchema.id` property? etc.). If we remove the property then the verifier details exactly where to lo

[2021-09-23 21:10] glcohen commented on #256
I think your complaint is with the complications of the VC spec, not PE! In that case I agree 😄 . The fact is there are multiple types of schemas that apply to VCs.

Correct...I think of it as a depth traversal, but the highest node in the tree is the schema. I shouldn't need to check all other properties if the schema doesn't match.

[2021-09-23 21:26] nklomp commented on #250
With user I meant the perspective of a verifier, as that is the location where the input descriptor would be created. There will be software that can generate the descriptors, but there will probably also a lot of developers/tech-consultants creating these by hand

[2021-09-23 21:30] glcohen commented on #256
Put differently I see credentials in categorized "buckets" - this is done by schema.
After that, you can request specific properties from those credentials.

A schema describes the shape, and properties that you _can select for_ in input descriptors. In PE you are saying given this data shape (schema) I am requesting the following properties (constraints).

[2021-09-23 21:32] glcohen commented on #250
Please see my comments here on the intention of the schema https://github.com/decentralized-identity/presentation-exchange/issues/256#issuecomment-926176167

@nklomp I agree it would be less ambiguous to allow "any one of these schemas..." or "exactly these schemas..."

[2021-09-23 21:58] JaceHensley commented on #256
I do see what you are saying here, that you can quickly/cheaply check the schema first and know right away if it's valid. But it'd say it'd be pretty similar with just using the field constraints. The field constraints have an `AND` relationship so if the first entry in `fields` doesn't have it's `path` and `filter` properties satisfied then you would know that the Claim you are testing won't work

[2021-09-27 16:26] glcohen commented on #256
`limit_disclosure` is simply a tool for reducing data liability for requesters. The fields that are exposed in the constraints are a language made possible by the schema -- which could apply to any part of the credential (subject, whole thing, etc.)

[2021-09-28 18:32] glcohen commented on #256
Proposal from today

[code]

[2021-09-28 18:41] JaceHensley commented on #256
Yeah so after our little sync call today I'm more in favor of keeping something like this. It behaves the same as `fields` but has different semantic meaning which wallets/verifiers could use to their advantage

1. I really like the name "data_model"
2. 👍
3. This is great because it follows the same pattern as `fields`

In addition to the things you listed one thing I didn't bring up on the call i

[2021-09-28 19:24] brentzundel commented on #256
I like the name `data_model` and really like that the verifier can specify where in the credential it is located.
Having it as an optional property also makes sense.
I agree with keeping `data_model` at the top level (or moving `data_model` inside of `constraints`).
(fwiw, I also prefer keeping `constraints` nested)

The only thing I'm not sure of is in the example @glcohen gave, it says the `filt

[2021-09-28 19:49] JaceHensley commented on #256
Yeah I agree `data_model` should be functionally the same as `fields` it would just have different semantics

[2021-09-29 00:57] glcohen commented on #256
agreed!

[2021-09-30 17:21] csuwildcat commented on #256
I agree with the overall proposal, but would like to see us choose a different name for the prop than `data_model`. Perhaps `type` or `class`?

[2021-09-30 17:28] csuwildcat commented on #256
I also agree with @JaceHensley that this prop, whatever it is called, should be moved into `constraints`.

[2021-09-30 17:37] csuwildcat commented on #234
@OR13 any interest in getting this in for 2.0? We are closing off the last of the OIDC mods and are basically done, so it would be good to get this on the train if it's desired.

[2021-09-30 17:40] csuwildcat commented on #213
Handing off to @JaceHensley, who is doing this within his PR for the move to adopting the same normalized functionality of Fields to evaluate the type/schema.

[2021-09-30 17:46] csuwildcat commented on #212
Closing per comment period with resolution to retain the current structure.

[2021-09-30 17:46] #212 closed

[2021-09-30 17:47] csuwildcat commented on #242
This was addressed in the latest 2.0 PR #255

[2021-09-30 17:47] #242 closed

[2021-10-01 21:16] glcohen commented on #256
type sounds fine to me

[2021-10-01 21:56] JaceHensley commented on #256
I'll probably use `type` in the PR to add this and if people want it changed we can bikeshed in the PR 🙂

[2021-10-06 21:30] kimdhamilton opened #259 "Clarifying is_holder"
Previously we've discussed confusion around how to interpret `is_holder`. I recall someone suggested that this field is not actionable to credential holder wallets/agents but it seems like it _should_ be. The reason is that the spec then describes methods that a verifier would use to perform holder/subject binding. It seems like the wallet/agent needs to know how the verifier will do this, and thi

[2021-10-06 21:53] kimdhamilton commented on #101
to discuss 10/7: is this different from #92 ?

FYI @csuwildcat @brentzundel

[2021-10-07 08:20] awoie commented on #92
IMO, we should. We are working on examples and have already some. We want to wait at least after IIW. We (OIDC4SSI OIDF/DIF WG) want to host a couple of IIW sessions to figure the best way out.

[2021-10-07 17:22] #217 closed

[2021-10-07 17:22] #250 closed

[2021-10-07 17:32] kimdhamilton commented on #101
dupe of #92

[2021-10-07 17:32] #101 closed

[2021-10-07 17:35] #98 closed

[2021-10-08 01:30] JaceHensley opened #261 "Add Verifier display property"
Similar to how Credential Manifest has an issuer display property I think it would good for verifiers to be able to tell wallets how to display who they are

[2021-10-08 14:11] brentzundel opened #262 "change default branch"
we should change the default branch from `master` to `main`
what needs to change so we don't break things when we do this?

[2021-10-09 01:16] JaceHensley commented on #261
Interesting, I'd be fine with that. That would mean that it doesn't mirror CM as well much. But maybe the display stuff in CM should be external too?

[2021-11-18 19:34] Sakurann opened #270 "`pattern` property not defined"
What is the `pattern` property used in constraints.types without being defined?

          "types": [
            {
              "path": ["$.credentialSchema.id", "$.vc.credentialSchema.id"],
              "filter": {
                "type": "string",
                "pattern": "https://bank-schemas.org/1.0.0/accounts.json|https://bank-schemas.org/2.0.0/accounts.json"
              }

[2021-11-18 19:53] csuwildcat commented on #270
The `filter` prop is a JSON Schema object, all of the properties for which are defined by JSON Schema: https://json-schema.org/draft/2020-12/json-schema-core.html

[2021-12-02 10:29] RieksJ opened #271 "Timestamping the specification"
For (candidate) standards documents, it is a good practice that whenever a version is ratified or otherwise assigned some state, this is mentioned in the document itself with the date at which that is done. This issue calls for including a section in which a history of such (dated/timestamped) state changes is maintained, or by absence of that, a paragraph in which the most recent such state chang

[2021-12-02 13:47] bumblefudge commented on #271
There's an open issue on the spec generation tool [here](https://github.com/decentralized-identity/spec-up/issues/7) that would do this automatically, fwiw.  I'll try to bump that.

[2021-12-02 16:50] JaceHensley commented on #271
So that's for the generation date but how we have this repo setup is that the document is regenerated on each PR merge (cause keeping the md file in source is nicer than the html file). But we could just add a timestamp for ratified versions

[2021-12-02 18:41] csuwildcat opened #272 "Remove superfluous `types` property in constraints"
David Chadwick raised the issue that we only need `fields`, not `types`, so his proposal is to remove `types` and add 0-index iteration language to `fields`, simplifying the spec. Folks in DIF were previously a fan of this before types was put into spec text, so there would be agreement if the OIDC crowd was of the same mind as David. CCing @tlodderstedt for visibility.

[2021-12-02 18:43] csuwildcat opened #273 "Remove vestigial steps about the old `schema` property from 4.3"

[2021-12-03 07:21] tlodderstedt commented on #272
Thanks for the notification.

Does it mean type requirements are expressed as field constraint over whatever field holds type information in a certain credential format?
Is there a text proposal on the table?

[2021-12-03 09:08] David-Chadwick commented on #272
@tlodderstedt Yes this is the intention. Also that RPs would make type searching the first fields constraint in their request, so that it is evaluated first by the wallet.

[2021-12-03 09:59] tlodderstedt commented on #272
That's a reasonable change given that the rest of the input descriptor refers to the actual credential's structure as a JSON object (with different paths for JWT and LD Proofs, for example). Since we have the format now in the input descriptor, the verifier can also clearly state the expected format and type.

[2021-12-07 18:59] csuwildcat commented on #272
@OR13 @JaceHensley @brentzundel any thinking here? Frag `types` in favor of using the single area for value interrogation? (I think we had wanted it this way before, so I am supportive of this simplification)

[2021-12-07 20:13] JaceHensley commented on #272
I'm fine with this. There were some people who wanted the separate `types` property for semantic purposes, I forget exactly who wanted that tho

[2021-12-08 00:06] csuwildcat commented on #272
Done in latest PR: https://github.com/decentralized-identity/presentation-exchange/commit/901937b12d80832f283b0f4d5bdae8df24bceb60

[2021-12-08 00:06] #272 closed

[2021-12-09 11:27] bumblefudge commented on #272
Note, spec language was also changed by a [loose commit](https://github.com/decentralized-identity/presentation-exchange/commit/b05c5dc98a905bcb6d8ba95cd961879bf31441ad) that was probably intended for the PR above.

[2021-12-09 14:52] vongohren opened #274 "Any thoughts on JSON path node implementations to fit for this?"
I found

https://www.npmjs.com/package/jsonpath-plus
&&
https://www.npmjs.com/package/jsonpath

Chose the plus version, but should this make any recommendations?

[2021-12-09 15:58] csuwildcat commented on #274
@vongohren we have implementations listed in the spec.

[2021-12-09 16:00] vongohren commented on #274
@csuwildcat i serach for implementations and did not find ut :S That is why i raised this question. But I will look again!

[2021-12-09 16:39] csuwildcat commented on #274
@vongohren here's the link to the appendix section: https://identity.foundation/presentation-exchange/#jsonpath

[2021-12-09 18:04] JaceHensley commented on #274
I've used jsonpath-plus before, I like that it ships it's own TS types

[2021-12-09 20:19] #274 closed

[2021-12-09 21:30] vongohren opened #278 "@context has a very special behaviour in jsonpath"
Is it worth mentioning anywhere that it needs escaping for certain languanges? Or is that common knowledge?

[2021-12-15 14:25] tlodderstedt opened #280 "erroneous in presentation_definition JSON Schema"
Hi,
references

[code]

in lines 190, 203 and 222 of test/presentation-definition/schema.json cannot be resolved by a JSON schema parser.
What is the meaning? I'm asking previous revisions of the schema referred to a `filter` element in the same schema defined as

[code]

[2021-12-15 23:42] JaceHensley commented on #280
so the "filter" attribute is a JSON Schema object, so you need a json schema _for_ json schema itself. I ran into an issue with that old `filter` schema because it was missing a few things, and the more I looked into the more I saw was missing. That link resolves to this document:

[code]

which itself has references to other files. According to AJV you just need to provide a [loadSchema](https://

[2021-12-15 23:53] JaceHensley commented on #278
Oh that's really interesting, it seems like the problem is that the original (? only one I could find) spec for JSON Path doesn't mention escaping at all

Related issues: https://github.com/dchester/jsonpath/issues/138, https://github.com/JSONPath-Plus/JSONPath/issues/154

[2021-12-16 18:29] vongohren commented on #278
@JaceHensley yeah and as mentioned in the attached issue, there are certain comparission(standard) work going on. Link to github page working on this: https://github.com/cburgmer/json-path-comparison

[2021-12-16 18:35] kimdhamilton commented on #278
I hate this bug

[2021-12-17 01:08] nklomp commented on #278
LOL, this is a known issue in our PE implementation as well ;)

We hate it too @kimdhamilton , and have not gotten around to fixing it yet.

The first reaction is to escape it on the PE implementation, but then there are also valid `@` possibilities that are not related to json-ld.  We probably will settle for having a list of known/mostly used JSON-LD keywords in our implementation.

[2021-12-17 10:54] vongohren commented on #278
Glad to hear we share the pain, and I believe we will converge more on this going forward when more PE implementations surface. So believe this should stay open for a bit

[2021-12-24 11:54] tlodderstedt commented on #280
Have you be able to run this construct with any other parser than AJV? We use https://python-jsonschema.readthedocs.io/en/stable/ and I also tried to use the schema with https://www.jsonschemavalidator.net/. It did not work so I had to revert to the previous schema definition in my local copy.

[2021-12-29 21:41] kimdhamilton opened #283 "Layering proposal for v3"
## Context

Currently, the PE spec is complex for at least 3 reasons:
1. It's hard to detangle which objects are needed for simple vs advanced use cases. An example of an advanced use case is submission requirements
2. Elements such as `subject_is_holder`, `subject_is_issuer`, `same_subject`, and `statuses` risk fragmentation. They are left up to implementors, and currently lack sufficient example

[2021-12-31 17:52] David-Chadwick commented on #283
@kimdhamilton I am fully supportive of standardising a minimum subset that everyone can agree on, and then having some way of indicating which additional layers/featurs any given implementation supports.

[2022-01-07 22:18] Sakurann commented on #283
I agree with the direction. Would it make sense to have a spec, or its official profile that has only the base layer, without any "layers"? and probably, that one should not be called v3...

A quick comment on `iss = self-issued.me`. The fact that SIOP ID Token is signed by the user's private key does not change. but in the latest version of SIOP v2 that is going to the Implementer's draft, iss ca

[2022-01-10 15:40] RieksJ opened #284 "Enabling 'on the fly' collection of credentials"
Constructing an input descriptor is only useful if the party that constructs it is certain that a holder can actually satisfy it. Thus, verifiers will have made sure that the (kinds of) credentials from which input is requested will actually be issued by parties that it trusts. It is reasonable to assume that a verifier may have found out at which endpoint (URI) an issuer is actually issuing the c

[2022-01-10 16:21] csuwildcat commented on #284
Instead of including random URLs into PE, we should focus on finalizing the Identity Hub spec, because that way you can just assemble/locate lists of DIDs for Issuers and the mechanism for contacting them for issuance is automatic: you resolve their DIDs, find their Hub endpoints, and initiate an issuance flow.

[2022-01-11 08:25] RieksJ commented on #284
I'm not religious about the way in which 'on the fly' collection of credentials can be done, as long as it can be done.

Not being in a position that I can follow everything that's going on I proposed the simple URI solution, which btw is not just a 'random' URL, but something that would actually serve a very useful purpose, doesn't rely on specifications that are still under development, and is e

[2022-01-11 08:25] #284 closed

[2022-01-11 20:57] csuwildcat commented on #284
When I said "random URLs" I just meant adding more brittle pointers to the exchange that would require their own spec to define what issuance protocol they represent/offer, which we can 'get for free' if we circle the wagons around Hubs.

[2022-01-13 18:56] kimdhamilton commented on #283
Jan 13 Discussion

Proposals:
- Restructure -- not separate -- spec in this version (v2). I.e., no v3
- Initial pass is purely editorial
- Next pass, consider layering modifications (current discussion below)
    - `critical` flag on additional layers, meaning wallet can ignore if false (default) or (if true) must understand the layer or reject the request
    - This will likely need to be refined

[2022-01-20 16:06] tlodderstedt commented on #280
Is there any appetite to fix this problem?

[2022-01-20 17:19] tlodderstedt commented on #280
Externally hosted schemas work if the "consuming" schema refers to a certain element in that schema, like "http://example.org/schema#someelement" (see https://json-schema.org/understanding-json-schema/structuring.html#ref). The way you refer to the external schema is different. I have never seen that construct before.

[2022-01-20 17:41] tlodderstedt commented on #280
What would be the semantics of such a reference? The "ref" elements is part of the definition of a schema element, i.e. it defines that element using kind of an alias.

[2022-01-20 17:50] JaceHensley commented on #280
So AJV actually handles this by [default](https://github.com/ajv-validator/ajv/blob/master/lib/2020.ts#L26), without needing to supply a `loadSchema` function. But this does seem like it's allowed for a $ref to be a url that doesn't refer to a particular element

[2022-01-21 05:38] Sakurann commented on #283
I am starting to think we don’t necessarily need to define minimum profile of PE - we can rather invest in defining a common metadata structure how OP advertises which aspects of PE it does or does not support.

For example,

or even provide a ready PE syntax to use in OP metadata

OpenID Connect Advanced Syntax for Claims has a similar approach: 21:15 of https://www.youtube.com/watch?v=DQqsuJwYXm

[2022-02-02 11:30] David-Chadwick opened #288 "Claim format independence"
The introduction states "This specification is designed to be both Claim format and transport envelope agnostic"

This statement is not correct because the claims have to be formatted in JSON.

Do we want to keep claim format independence, or should we limit the specification to only apply to the W3C VC data model? This restriction will simplify the specification in a number of ways
a) format is n

[2022-02-02 12:02] tlodderstedt commented on #280
And how does AJV interpret that construct? What is the allowed value range for the `filter` element?

[2022-02-02 15:30] nklomp commented on #288
How would that work with JWTs? Note the wording in the first sentence of the encoding section below. I guess it can be handled during decoding and apply the JSON path on the resulting VC.

From https://www.w3.org/TR/vc-data-model/#jwt-encoding

`
For backward compatibility with JWT processors, the following registered JWT claim names MUST be used **instead of, or in addition to**, their respective

[2022-02-03 05:24] Sakurann opened #289 "extensibility: defining a new filter"
If I need to add an additional constraint unique to the scenario (in this case "intent-to-retain" boolean), do I need to request that property to be added to the core spec every single time?

[2022-02-03 18:13] bumblefudge opened #290 "Tracking: non-normative asides to make LD framing feature less jarring"
See https://github.com/decentralized-identity/presentation-exchange/pull/287#discussion_r797880583 . May help to check other sections as part of a broader non-normative-only editorial pass to pad other potential sources of reader whiplash.

[2022-02-03 18:19] brentzundel opened #291 "Tracking Issue: subject_is_issuer values need clarification"
https://github.com/decentralized-identity/presentation-exchange/pull/287/files#r797700277

tl;dr what is the use case for the value `preferred`?

[2022-02-03 18:22] bumblefudge opened #292 "Low-Priority Editorial:"
[Spec-up#34](https://github.com/decentralized-identity/spec-up/issues/34) opened to help feature/core more readable with a better feature-boxing.

[2022-02-03 19:41] csuwildcat commented on #288
On the last call I promised a magical sentence that would make all our single-JSONPath-selector dreams come true, so here goes - assume this is the very first line of text in the Input Evaluation section:

[2022-02-03 20:45] bumblefudge opened #293 "Optionality: What happens when processors don't honor constraints?"
Broken out from a [review comment on 287](https://github.com/decentralized-identity/presentation-exchange/pull/287#discussion_r797683059)

[2022-02-03 21:52] bumblefudge commented on #288
the WG compromise that launched a thousand non-interoperable implementations...

Here's my attempt at making this more explicit, and hopefully not too opinionated:

The inputs received MAY be encoded in a **proofed representation of the VC** data model that requires processing or transformation steps to produce the bytes Presentation Exchange Input Evaluation ~intends~**expects to** to target and

[2022-02-04 13:33] David-Chadwick opened #294 "Semantic vacuum"
The current way that PE works is that it filters credentials based on their JSON properties, which typically are short form user friendly strings such as: subject, iss, degree, qualification, mail etc. However there is no context to these strings, and no guarantee that the string the RP places in the PD is actually the string that the RP wants. For example, a wallet may hold two or more different

[2022-02-04 18:56] csuwildcat commented on #289
I think a `will_retain` or `intent_to_retain` flag would be a generally useful addition, and we should get it in the an appropriate place in the spec. Maybe you can do a PR once Kim lands hers?

[2022-02-07 05:48] Sakurann commented on #289
Yes, I am waiting for Kim's big PR to be merged to do a PR. The claim name should be `intent_to_retain` to be consistent with the mDL spec.

[2022-02-07 18:30] JaceHensley commented on #294
You could have a field constraint that targets `"@context"` ([with the caveat of needing to escape the "@"](https://github.com/decentralized-identity/presentation-exchange/issues/278)). This is also similar to the issues: https://github.com/decentralized-identity/presentation-exchange/pull/258 and https://github.com/decentralized-identity/presentation-exchange/issues/272, and it seemed like we wan

[2022-02-07 19:29] David-Chadwick commented on #294
@JaceHensley Good point. A field constraint on "@context" would solve the issue for VCs. But this assumes that we have a solution for the @ character leading a property name.

I think it would be good to add a note to the Implementation Guide (or similar document) to the effect that Best practice when selecting VCs is to always have an "@context" field constraint to ensure that the correct short f

[2022-02-07 20:31] David-Chadwick commented on #288
@bumblefudge Well done!

[2022-02-09 15:46] JaceHensley commented on #280
With that AJV allows `filter` be to a a valid JSON schema object (`{type: 'object'}`, (`{oneOf: [...]}`, (`{type: 'string'}`, etc)

[2022-02-10 04:35] kimdhamilton opened #298 "Refactor tests"
Refactor tests -- there is a lot of duplicate code.

[2022-02-10 04:59] #283 closed

[2022-02-10 05:00] kimdhamilton opened #299 "Need editorial pass to ensure interpretation of Features is clear"
- Need a better description of feature behavior, i.e., "light up" if features understood, backwards compatible
- Need language around processing entity handling when Features not supported, reflecting the "naughty behavior" discussion. @csuwildcat

[2022-02-10 05:01] kimdhamilton opened #300 "Double-check Input Evaluation section"
Double-check "Input Evaluation" section. Some specific questions:
- Our existing description of limit_disclosure was confusing, and now also needs to capture the "wallet doesn't understand" case. The latter is described in Input Descriptors, but needs to be updated here too
- Why do we have "Expired and Revoked Data" as separate sections rather than steps in Input Eval?

[2022-02-10 05:02] kimdhamilton commented on #247
Addressed with #287

[2022-02-10 05:02] #247 closed

[2022-02-10 05:04] kimdhamilton commented on #254
Dupe of #65. moving additional comments there

[2022-02-10 05:04] #254 closed

[2022-02-10 05:05] kimdhamilton commented on #65
Additional comments from #254:

#250 and others point to the need for a test suite and robust set of test vectors
Questions:
1. Who do we think has the most “conformant” implementation that would be a good starting point to test against?
2. Sphereon has a lot of great test cases. Do others? Can we use these as starting points?
3. Do we have any nice patterns to follow for existing/similar test sui

[2022-02-10 05:06] kimdhamilton commented on #63
to discuss Feb 10 2022: ok to close?

[2022-02-10 05:08] kimdhamilton commented on #36
to discuss Feb 10 2022: ok to close?

[2022-02-10 05:10] kimdhamilton commented on #238
to discuss Feb 10 2022: close or rephrase?

[2022-02-10 17:31] nklomp opened #301 "processing entity not defined and ambigous"
Processing entities are named quite a lot in current spec. However there is no definition for it. Sometimes holders are being interchanged.

'Processing entities' could be confusing, as it now typically seems to be used for holders. From the context of processing a presentation definition that might make sense. But if you actually look at it from a verifier perspective, given they are on the recei

[2022-02-10 17:38] nklomp opened #302 "Introduce non-normative section on Feature detection?"
In https://github.com/decentralized-identity/presentation-exchange/issues/293 I brought up the problem that certain features not supported by a holder might result in a verifier rejecting the submission.

Suggest to create a non-normative paragraph directly after the introduction of features, describing that it makes sense for implementations to be doing feature detection, especially on features t

[2022-02-10 18:22] #63 closed

[2022-02-10 18:26] kimdhamilton commented on #36
@selfissued we're proposing to close this as not actionable if no updates/clarifications by Feb 24

[2022-02-10 18:42] David-Chadwick opened #303 "Matching on arrays of strings"
If a VC contains a property whose values are a set of strings, e.g.

foo = ["bar", "baz"]

then a presentation definition filter will need to specify one-of or any-of from the array of values e.g.

	"path": [
		"$.foo"
	],
	"filter": {
		"type": "array",
		"items": {
			"type": "string"
		},
		"oneOf": ["foo", "abc"]
	}

Unfortunately when the above PD has been entered into the OIDC4VP draft, ther

[2022-02-10 21:47] csuwildcat commented on #303
I believe your filter would look like this:

[code]

[2022-02-15 18:14] kimdhamilton opened #305 "Editorial: ensure samples are clear when mixing decoded credentials"
Note to self: sometimes we mix decoded forms of credentials and it's unclear to implementors. Ensure we clean up

[2022-02-17 18:04] JaceHensley commented on #303
Here's the docs for handling tuples with json schema https://json-schema.org/understanding-json-schema/reference/array.html#tuple-validation

[2022-03-01 08:51] JanLin opened #307 "Inadequate explanation of purpose property"
The "purpose" property as described in the latest draft may be included to explain the presentation definition inputs being requested. From a privacy perspective (GDPR) the level of transparency is not sufficient and more work needs to explain the privacy considerations if that was the intent of having a property "purpose". A new work item is being started [data agreement](https://github.com/decen

[2022-03-17 18:32] decentralgabe opened #310 "Can the status constraint feature property be simplified?"
https://identity.foundation/presentation-exchange/#credential-status-constraint-feature

The spec says:
[code]

Why objects if they contain a single key and a single value? What about...

[code]

[2022-03-17 19:06] OR13 commented on #310
Short answer would seem to be that object can be extended.

When writing specs with JSON, prefer objects to arrays or strings, since you can add properties to fix issues that might arise in the future.

[2022-03-17 23:01] decentralgabe commented on #310
eh, premature optimization. it's a similar amount of work either way.

[2022-03-17 23:02] decentralgabe opened #312 "Clarify or remove formatMinimum and formatMaximum"
From https://github.com/decentralized-identity/presentation-exchange/pull/311

`formatMaximum` and `formatMinimum` are not defined in the Draft 7 specs:

- https://datatracker.ietf.org/doc/html/draft-handrews-json-schema-02
- https://datatracker.ietf.org/doc/html/draft-handrews-json-schema-validation-02
- https://datatracker.ietf.org/doc/html/draft-handrews-json-schema-hyperschema-02

There is [a

[2022-03-17 23:14] decentralgabe commented on #312
I recommend we require implementations to use a JSON Schema extension to support these properties
https://datatracker.ietf.org/doc/html/draft-handrews-json-schema-01#section-6.4

[2022-03-17 23:15] JaceHensley commented on #312
so PE just says that the `filter` property "`MUST` be a [JSON Schema](https://json-schema.org/specification.html) descriptor", does the "JSON-schema" schema say that additional properties cannot be set?

[2022-03-17 23:17] decentralgabe commented on #312
No: https://github.com/decentralized-identity/presentation-exchange/blob/master/test/presentation-definition/schema.json#L75

Even if it did, we would have to semantically define how to process non-normative filters.

[2022-03-17 23:23] JaceHensley commented on #312
Oh sorry I was talking about this one https://github.com/decentralized-identity/presentation-exchange/blob/master/test/presentation-definition/schema.json#L191

If you look here https://www.jsonschemavalidator.net/s/bk8N3TEI it seems like you can add additional properties to a json schema. And then it would become a case of graceful upgrade/downgrade. If a verifier puts a `formatMinimum` in their

[2022-03-17 23:28] decentralgabe commented on #312
in practice, yes. however, the examples in the spec reference JSON Schema Draft 7, and specific library implementations. Some of these libraries do support extensions. We also call out filter properties we support in the [predicate feature section](https://identity.foundation/presentation-exchange/#applying-a-predicate).

I see a few possible options (and possibly combinations of these):
- remove

[2022-03-18 06:38] decentralgabe opened #313 "Presentation Submission needs a JSON Schema"
All other types have a schema!

[2022-03-18 09:17] David-Chadwick commented on #312
The lesson that I draw from this is that PE cannot mandate any wallet to execute the procedure that is documented. The most PE should do is specify a procedure, say this is an example of a procedure that MAY be used, but an implementation is free to implement any procedure it wants to, providing that the output yields credentials that match the presentation definition.

[2022-03-18 15:29] JaceHensley commented on #312
@decentralgabe gotcha okay, I like the first two options there, PE shouldn't define those but should remind people that json schema can have extensions and that's allowed for `filter`. I'll admit I forgot about `predicate` and that we restrict `filter` when that's used, so extra language around that makes sense to me too

[2022-03-23 19:05] brentzundel commented on #310
I vaguely recall the conversations that resulted in the value being an object with a `directive` property than simply a value, but I can't recall the exact reasoning why that decision was made.
I'm fine either way.

[2022-03-23 19:09] brentzundel commented on #313
The spec says that the JSON schema is

Which might explain why it was never included for `presentation submission`

[2022-03-23 19:09] brentzundel commented on #313
which is not an argument against including it, just a fun fact.

[2022-03-24 14:19] decentralgabe opened #316 "Consider note distinguishing submitter/verifier and presentation-exchange implementer"
My read of the spec...

First, in [Section 6.2](https://identity.foundation/presentation-exchange/#limited-disclosure-submissions)

Second, in [Section 8, bullet 3](https://identity.foundation/presentation-exchange/#input-evaluation)

In practice, this means do not include the issuer, issued at date, expiry date, or any signature _unless specifically requested_. Not only do verifiers need to be aw

[2022-03-24 14:34] decentralgabe commented on #316
Could be already solved by [Section 6.3](https://identity.foundation/presentation-exchange/#validation-of-claims).

[2022-03-24 17:14] brentzundel commented on #57
I believe the current version of the spec supports this, no activity for 1.5 years, closing

[2022-03-24 17:14] #57 closed

[2022-03-24 17:15] csuwildcat commented on #97
7 day close pending any new information.

[2022-03-24 17:26] brentzundel commented on #74
based on conversation in meeting on 2022-03-24, we feel this has been addressed as well as it needs to be. Closing.

[2022-03-24 17:26] #74 closed

[2022-03-24 17:28] csuwildcat commented on #24
Your terms are acceptable, @dhh1128

[2022-03-24 17:28] #24 closed

[2022-03-24 17:29] csuwildcat commented on #94
Close as a possible deferral to DID Config

[2022-03-24 17:29] #94 closed

[2022-03-24 21:11] csuwildcat opened #318 "General processing steps Presentation Submission should be clearer"
The spec would benefit from having a clear, general section that specifies clear processing steps for handling a Submission object. Currently it only seems to do so for `path_nested` use.

[2022-04-07 17:22] bumblefudge opened #322 "How could PresEx work "within" VPR?"
[Discussed last week at VC-API WG](https://github.com/w3c-ccg/vc-api/issues/174#issuecomment-1089314082)

[2022-04-07 17:25] #312 closed

[2022-04-07 17:41] bumblefudge opened #323 "More binding vote on PR309"
There was a vote on the call two weeks ago not to merge #309 , but in the interest of a more broader and better-documented consensus, we are asking implementers and spec editors to vote yay or nay and, if they like, add suggestions for how to [else] to move forward/address the use-case of PS-ignoring implementations if not merging.

Please vote by next week so we can move forward either way and th

[2022-04-07 18:21] OR13 commented on #323
The pull request in question: https://github.com/decentralized-identity/presentation-exchange/pull/309

It would be smart to get arguments documented in github before attempting to resolve this further.

[2022-04-07 18:28] OR13 commented on #323
The thread on the PR is dominated by @csuwildcat and @David-Chadwick would you mind doing your best to give the "most generous" interpretations of each-others arguments?

[2022-04-07 20:47] David-Chadwick commented on #323
In a nutshell my position is one of simplification of PE. Don't make it mandatory to implement Presentation Submissions. This is because PSs are not needed for the vast majority of transactions as the RP can determine which VC matches which input descriptor.  For those rare transactions where the returned VCs cannot deterministically be matched with the input descriptors, the RP can always send mu

[2022-04-07 23:46] dwaite commented on #323
My perception is that PEX defines a data model as well as rules based on the data model for processing requests and responses. But as it does not define a transport, it does not get to define the rules by which a transport sends (or generates) those messages.

This is similar to how it uses JSON Path to specify the requirements for verifiable credentials, even when formats such as JSON-LD, CBOR-LD

[2022-04-08 02:53] kimdhamilton commented on #323
My answer is a belabored, guilt-ridden "do not merge" but with much ♥️

I believe I understand the intent behind #309, and agree with that intent, but not with the fix.

We've previously made progress towards layering/detangling this spec, and we knew it would be a windy, tortured path. I think there's another way to achieve this goal, but need to mull it over.

Unfortunately, the only way to desc

[2022-04-08 02:59] decentralgabe commented on #323
Do not merge. To me it is quite clear that the _only_ valid response to a Presentation Definition wrapped in a request is a Presentation Submission.

I can see why one might want to implement half the spec, but it leaves open a great deal of uncertainty and puts an onus of processing difficulty on the verifier that is wholly unnecessary.

[2022-04-08 09:27] David-Chadwick commented on #307
@bumblefudge  My understanding of purpose is that this is a string that is meant to be displayed to the wallet user to tell the user the RP's purpose for requesting this VC e.g. We need your credit card details for the payment, or, We need your address to prove your residency etc. So I don't understand how pointing to an external object containing an ontology will actually help the user in decidin

[2022-04-11 10:47] dtmcg commented on #323
Apologies for the long response. Ive tried to keep it concise.
(TLDR dont merge)

Why I want the spec to specify the a required response.
It defines an output for the processing of a given input. Both of which are defined.
- If you ignore the response you are ignoring a lot of the request.

It empowers the holder/wallet (SSI FTW)
- The wallet gets to declare what it is submitting for what reason.

[2022-04-11 13:11] bumblefudge commented on #323
This is a really interesting way of framing a PR that might be easier to merge with consensus-- a section (whether normative or non-) that spells out a "default"/generate-PS-on-the-fly logic that would make a PS-free, non-inferential implementation still conform to the spec as currently written.  Thanks, @dwaite, I was hoping someone would suggest something this concrete as a next step!

[2022-04-13 13:57] jrhender commented on #322
Related issue: https://github.com/w3c-ccg/vp-request-spec/issues/7

[2022-04-14 16:05] JaceHensley commented on #323
Do not merge

can't add anything else that other's haven't already said

---

:100:

[2022-04-14 16:10] csuwildcat commented on #323
I concur with the rest of the majority here in opposing this PR/flag, which basically creates a bifurcation in processing expectations across the ecosystem of implementations. The tiny amount of client code needed to generate a unified Submission and avoid having any of these issues is just not enough to justify dealing with the interop issues and complexity it introduces.

[2022-04-14 17:21] bumblefudge commented on #323
Discussing on the call now how we can detail/support a "just-in-time" deterministic PS obj and security model/spec language tweaks.

[2022-04-21 17:08] JaceHensley commented on #323
Based on the discussion and the votes in this issue were closing this as resolved in favor of not merging #309

[2022-04-21 17:08] #323 closed

[2022-04-21 17:13] csuwildcat commented on #273
Appears to have been taken care of in recent PR.

[2022-04-21 17:13] #273 closed

[2022-04-21 17:30] csuwildcat commented on #100
Note: get updated VP OIDC, DID Comm, and VC HTTP API examples from folks at IIW

[2022-04-21 17:30] csuwildcat commented on #97
Going to close this out with collab at IIW: https://github.com/decentralized-identity/presentation-exchange/issues/100. Closing this Issue in favor of that other one.

[2022-04-21 17:30] #97 closed

[2022-04-21 17:46] csuwildcat commented on #36
Closing after period of commentary has passed without actionable info. Note: PE unifies all of these by addressing all their use cases without hard bindings to any one of them. It would behoove the community to circle the wagons around this spec as the solution that covers them all (by design)

[2022-04-21 17:46] #36 closed

[2022-04-21 17:49] csuwildcat commented on #310
The reasoning here was that it was likely that you would need to specify which mechanisms you would accept for status checks, not just the actual high-level status value they must be. The addition of which mechanisms are acceptable, with any annotation required to note them, would require at least one additional property. This is admittedly a forward looking structure, but I don't know how else yo

[2022-04-21 17:50] csuwildcat commented on #303
Closing as complete, given the requested filter is supported and examples have been provided.

[2022-04-28 12:34] JanLin commented on #307
Here is a proposed change to the text discussed in the data agreement working group. Please consider for inclusion. The roadmap statement is optional.

Current text

purpose - The Presentation Definition MAY contain a purpose property. If present, its value MUST be a string that describes the purpose for which the Presentation Definition's inputs are being requested.

NEW Proposed text

purpose -

[2022-05-12 17:32] dtmcg commented on #318
pr to fix https://github.com/decentralized-identity/presentation-exchange/pull/326

[2022-05-12 17:32] #318 closed

[2022-05-12 17:39] dtmcg commented on #316
to be addressed as part of an implementation guide

[2022-05-12 17:47] decentralgabe commented on #313
I will follow up with a a PR for a schema.

[2022-05-12 17:48] dtmcg commented on #307
link https://github.com/decentralized-identity/presentation-exchange/pull/325

[2022-05-12 17:48] decentralgabe commented on #310
Discussed on the call today: we will extend the field to add a `type` property a-la StatusList2021

[2022-05-12 17:49] dtmcg commented on #305
note to @kimdhamilton does this require action ?

[2022-05-12 17:50] dtmcg commented on #302
@nklomp to follow up

[2022-05-12 17:54] dtmcg commented on #300
@kimdhamilton is this still relevant ?

[2022-05-12 17:55] dtmcg commented on #299
@kimdhamilton is this sill relevant ?

[2022-05-12 17:56] dtmcg commented on #298
@kimdhamilton was this done in the refactoring ?

[2022-05-12 21:32] decentralgabe commented on #313
looks like there is one, just needs to be added to the spec https://github.com/decentralized-identity/presentation-exchange/blob/master/test/presentation-submission/schema.json

[2022-05-12 22:55] decentralgabe commented on #310
https://github.com/decentralized-identity/presentation-exchange/pull/328

[2022-05-12 22:55] decentralgabe commented on #313
https://github.com/decentralized-identity/presentation-exchange/pull/327

[2022-05-16 22:27] #313 closed

[2022-05-16 22:27] decentralgabe commented on #310
Fixed in #328

[2022-05-16 22:27] #310 closed

[2022-05-19 17:01] JaceHensley commented on #294
I wonder if we should add an optional `"semantic"` property to Field Constraints?

[2022-05-19 17:18] kimdhamilton commented on #305
Confirmed relevant samples are confined to the appendix and are appropriately documented; e.g., https://identity.foundation/presentation-exchange/#presentation-submissions

[2022-05-19 17:18] #305 closed

[2022-05-19 17:19] kimdhamilton commented on #302
PR needed by May 26, 2022; will close if no action by then

[2022-05-19 17:29] bumblefudge commented on #294
Discussed on today's call, not sure we can think through this and add a Field Constraint prop that satisfactorily accomplishes this for non-LD use-cases quickly enough for v2.0.  Any chance you could come and check in with the group about it next week, @David-Chadwick ?

[2022-05-19 17:29] bumblefudge commented on #294
Also, any additional help with the `@` escape issue definitely welcome from JSONPath wizards

[2022-05-19 17:36] bumblefudge commented on #289
LG

[2022-05-19 17:37] csuwildcat commented on #289
Happy to include this, but we will need a PR by next Thursday, May 26th.

[2022-05-19 17:38] #230 closed

[2022-05-19 17:43] #288 closed

[2022-05-19 17:49] #301 closed

[2022-05-19 17:53] #228 closed

[2022-05-19 17:55] #270 closed

[2022-05-19 17:55] brentzundel commented on #291
@nklomp The use case for the `preferred` value from a Verifier's perspective is that the Verifier may wish to support a broader ranger of signature and format types than can support the constraint. I.e., the Verifier prefers to receive a presentation that follows the constraints, but recognizes that some holders may not be able to meet those constraints, and still wishes to interoperate with them,

[2022-05-19 17:58] csuwildcat commented on #262
This has been done

[2022-05-19 17:58] #262 closed

[2022-05-19 17:58] brentzundel commented on #207
spec has been significantly re-factored since this issue was raised. I believe it has been addressed.

[2022-05-20 20:29] csuwildcat commented on #278
I played around with a bunch of JSONPath libs/evaluation sites and can't figure out if they all have done some augmentation or if this is already part of the grammar, but this appears to be supported:

Example object:
[code]

Expression:
[code]

[2022-05-20 20:31] JaceHensley commented on #278
So the JSONPath string would just be `"$.['@context']"`

[2022-05-20 21:38] vongohren commented on #278
@csuwildcat did you try out this test suite? https://github.com/cburgmer/json-path-comparison

[2022-05-26 10:56] csuwildcat commented on #294
I filed an issue on the JSONPath IETF repo and they promptly informed me that querying for properties with special characters using bracket notation already is the standard form that allows for selection of properties that have characters like `@` in them: https://github.com/ietf-wg-jsonpath/draft-ietf-jsonpath-base/issues/189

Any issues folks have brought up here must be with a lib that doesn't

[2022-05-26 10:57] csuwildcat commented on #278
I filed an issue on the JSONPath IETF repo and they promptly informed me that querying for properties with special characters using bracket notation already is the standard form that allows for selection of properties that have characters like @ in them: https://github.com/ietf-wg-jsonpath/draft-ietf-jsonpath-base/issues/189

Any issues folks have brought up here must be with a lib that doesn't co

[2022-05-26 12:52] nklomp commented on #302
PR #334 created, but probably better suited for an implementation guide.

[2022-05-26 13:34] nklomp commented on #289
I will take a stab at this. What might be a bit controversial though is that it will be MUST boolean flag. Reason is that I really like the MDL usage of it. Meaning they protect the holder from the verifier, by requiring that any verifier needs to supply this flag, so the holder knows whether their data might be retained or not. It forces the verifier to make it known.

With the privacy of subject

[2022-05-26 14:25] nklomp commented on #289
PR has it at the Input Descriptor level, allowing a verifier to retain certain data but not all of it. Does it make sense to also do it at the PD level? The drawback of that would be that it might confuse a holder, since then you would need to be able to override it at the descriptor level, or loose the support at the descriptor level alltogether, meaning you cannot communicate at a fine grained l

[2022-05-26 17:38] csuwildcat commented on #278
ACTION: not just Dan list the JSONPath libs that conform to the spec and allow you to select properties with `@` signs in them.

[2022-05-26 17:41] bumblefudge opened #336 "Tracking: Asides and notes to be pulled out later and put into an Implementation Guide"
On today's call, we discussed that some of the PRs we're merging should be reconsidered when there's an Imp Guide to move some of this text to.

[2022-05-26 17:45] nklomp commented on #289
As discussed in todays meeting @csuwildcat and @kimdhamilton  will write some of there questions down.

- We need to discuss whether it makes sense to change the level. So what if you wan't to apply this at the field level, or at the whole VP level for instance?
- What are the exact use cases?
- How does it relate to the work being done for Automate Data Agreements?

@Sakurann @JanLin, your input

[2022-05-26 17:49] #290 closed

[2022-05-26 17:55] csuwildcat commented on #271
We will add timestamps one way or another.

[2022-05-26 18:00] csuwildcat commented on #207
Closing, has been addressed.

[2022-05-26 18:00] #207 closed

[2022-05-26 18:01] csuwildcat commented on #204
Add this into the Implementation Guide, given considerations were added inline.

[2022-05-26 19:12] nklomp commented on #307
This issue can be closed given #325 has been merged right?

[2022-05-27 02:15] gregsdennis commented on #278
Nothing confirms to the spec yet because the spec isn't done.  The entire reason we're writing a spec is that implementations deviate in their feature set.

[2022-05-27 03:17] JaceHensley commented on #289
I think the verifier would want to be able to know that the holder has acknowledge the intent to retain. Similar to how the verifier can enforce the limit_disclosure constraint.

There could be an `intent_to_retain_acknowledged: true` set in the presentation submission's descriptor map. If intent_to_retain_acknowledged isn't set then the verifier can reject the submission

[2022-05-27 15:26] fabian-hk opened #337 "Filter By Credential Type"
I would like to know how to filter for a certain credential type. The example "Filter By Credential Type" in [section 5](https://identity.foundation/presentation-exchange/#presentation-definition) is a bit unclear to me because the filter filters for a single string. As far as I know, the type property is usually an array with two or more items. Shouldn't this be a JSON Schema that matches an arra

[2022-05-27 16:38] csuwildcat commented on #337
You would check that the URI/string of the type value you are expecting is within the credential's `type` property, like this:

Type array must contain one specific value:
[code]

Type array must contain two different values:
[code]

[2022-05-31 12:58] fabian-hk commented on #337
Thank you for the examples!

[2022-05-31 18:29] tlodderstedt opened #340 "Registry for VP and VC types"
The PE spec currently "hard-codes" format identifiers for a couple of credential and presentation formats. This prevents implementers from using PE with other formats. As discussed at IIW, I suggest to introduce a registry to allow for extensibility.

Here are examples of how PEW could be used for other credentials: https://openid.net/specs/openid-connect-4-verifiable-presentations-1_0.html#name-a

[2022-06-02 03:51] Sakurann opened #344 "Extensibility"
Does PE allow profiles, trust frameworks, implementations to define their own properties which others can ignore if do not understand? just like JWT claims?
 Or does it say that only properties defined in PE are valid?

[2022-06-02 17:10] csuwildcat commented on #300
Closing, but if folks still see an issue, feel free to reopen.

[2022-06-02 17:10] #300 closed

[2022-06-02 17:53] JaceHensley commented on #253
closed #332

[2022-06-02 17:53] #253 closed

[2022-06-02 17:56] JaceHensley commented on #344
Note from today's call: Take a lesson from CSS and allow vendor prefixed fields for additional properties

[2022-06-02 18:01] brentzundel commented on #340
for v2, we will raise a PR to clarify the claim format section to indicate that the formats listed may not be the only acceptable options, SHOULD use the ones in the spec.

[2022-06-07 21:17] nklomp commented on #289
As promised a bit more clarification on 'intent to retain' from my side.

**Background/intro**
I believe that we as creators of new specs and technology, which brings an inversion of power/control of data to users, should also carefully consider potential future ramifications of the technology (not saying we don't to be clear). Let's assume that VC tech and PEx becomes wildly popular over next few

[2022-06-08 22:26] nklomp commented on #289
Okay had some time to listen to the recording of last week. It seems some of the points mentioned above have already been discussed. :)

Updated the PR to make it a Feature.

During next meeting I guess we should discuss whether we are going to stick to a boolean, or make it an object with a duration for example.

[2022-06-09 06:38] kimdhamilton commented on #340
I'm interested in a registry as well. Question: is that a new work item / repo?

[2022-06-09 06:39] kimdhamilton commented on #299
Shall we close this? I don't think it's pressing.

[2022-06-09 06:40] kimdhamilton commented on #298
this is definitely v2.0

[2022-06-09 06:41] kimdhamilton commented on #298
or "future"

[2022-06-09 12:32] #299 closed

[2022-06-09 16:19] colbyharrison opened #346 "Duplicate definitions of Input Descriptors"
Input Descriptor is defined in two locations. Partially in Section 5.0 and fully in section 5.1.  The partial definition in section 5.0 is inaccurate as it states the below inputs are `required` while only listing a partial list of inputs that `MAY` be included.

Can we cleanup section 5.0 to remove the partial definition of Input Descriptors?

[2022-06-09 17:56] nklomp commented on #346
Could you point to the exact line(s) in 5.0 that according to you are invalid? I do not see it on first glance. I am assuming you are talking about the last line in the below quote.

The intent of that line seems to be not about any properties from an input_descriptor object to be mandatory, bot more that all input descriptors present, should be satisfied. The above text is IMO not really a defini

[2022-06-10 00:12] colbyharrison commented on #346
After looking at this again. I now understand the intention. I mistakenly took the `name`, `purpose`, `format` properties underneath the `All inputs listed in the input_descriptors array are required for submission, unless otherwise specified by a [Feature](https://identity.foundation/presentation-exchange/#term:feature).` line as referring to the `name`, `purpose`, `format` properties of Input De

[2022-06-10 00:12] #346 closed

[2022-06-16 15:39] nklomp commented on #289
Based upon current PR, which has the intent_to_retain as a boolean field, I created a version which replaces the boolean with an object, and for now only 2 dates, indicating the minimum and maximum dates a verifier would like to retain certain data:

https://hackmd.io/xY3Bx_oGTuuJaSy2acRQNg

[2022-06-16 17:13] bumblefudge commented on #340
It certainly would be a separate repo tracked by the C&C WG as a distinct work item, although it would probably be discussed on the same call by the same group...

[2022-06-16 17:41] bumblefudge commented on #340
@tlodderstedt , if you're asking for this group (the PE work item) to open a lightweight repo and point to it from the spec before v2 is finalized, i think we could.  Unless you were asking for something different?

[2022-06-16 17:46] nklomp commented on #289
During today's call we decided to not go down the object route, as this probably should become part of another spec, like for instance the Automated Data Agreements. We are staying with a boolean `intent_to_retain` as in the [PR](https://github.com/decentralized-identity/presentation-exchange/pull/335).

PR is ready for "final" review

[2022-06-17 09:59] tlodderstedt commented on #340
Hi,

at IIW we discussed the idea of using an IANA registry for that purpose. Mike Jones offered assistance as he is very experienced with this kind of registries.

best regards,
Torsten.

[2022-06-17 10:18] selfissued commented on #340
Creating an IANA registry takes an RFC.  But there's precedent for creating such RFCs to establish registries.  For instance, the W3C WebAuthn WG created https://datatracker.ietf.org/doc/html/rfc8809 to establish IANA registries that it could use.  We could do the same.

[2022-06-21 22:00] tlodderstedt opened #350 "constraints"
Hi,

we come across some issues with the way the constraints element. In my opinion, it mixes expressions for filtering Credentials with a definition of the claims a verifier wants to get selectively disclosed.

Let's take a look at this example:

`{
   "id":"example_vc_sd",
   "input_descriptors":[
      {
         "id":"id_credential",
         "format":{
            "ldp_vc":{
               "p

[2022-06-22 02:30] csuwildcat commented on #350
@tlodderstedt maybe this needs to be a per-field designation?

[2022-06-22 20:36] tlodderstedt commented on #350
I think constraints related to picking a credential and what is disclosed from this credential are different aspects. I therefore feel those aspects should be represented in different elements of the input descriptor..
Moving limit_disclosure outside of constraints and making it an object containing pathes to the elements to be disclosed sounds reasonable to me.

[2022-06-23 17:28] bumblefudge commented on #350
Hey @tlodderstedt -- we discussed this on today's call and realized that the LD-Frame object (section 7.5 of today's spec) could be used to specify more explicitly for selectively-disclosed properties (derived from LD-based (and semantically-anchored) VCs) rather than filtering purely by static paths (in, e.g. JWT-VCs or JWTs).  A PR for spec-text or additional examples would be welcome!

[2022-06-30 17:25] bumblefudge opened #351 "update link and text about claims-format JSON Schema after it moves to registry"

[2022-07-20 12:16] bellebaum opened #355 "Rethink nested Paths"
I might need some guidance on the consumption of a `presentation_submission`.

Take the following example from the specification:

[code]

According to this submission and §6.1, I should validate three nested elements with formats `jwt_vp`, `ldp_vc` and `jwt_vc` respectively,
to find that the innermost element is the submission for the `banking_input_2` as defined in the referenced presentation de

[2022-07-20 13:00] csuwildcat commented on #355
@bellebaum one of the primary motivating reasons for nesting was actually that some implementations we were seeing had two levels of nested, encoded objects, like JSON > JWT, or JWT > JWT, thus we wanted to provide a way to path into an encoded string in a way that told you want the string was and how to decode it, then proceed through it with a selector after decoding.

[2022-07-20 14:08] bellebaum commented on #355
@csuwildcat This seems fine as long as all you are doing is decoding and accessing nested objects. However, this way of thinking needs to be combined with some semantic information in a suitable manner to make any meaningful statements about the resulting submission. For instance:

- If any/the last validation step within a decoding procedure ensures authenticity of the data and the data was issue

[2022-07-21 17:14] dtmcg commented on #351
closing addressed in 352

[2022-07-21 17:14] #351 closed

[2022-07-21 17:18] kimdhamilton commented on #355
Decision on 7/21 to address this in the next version.

I've had some lingering concerns over nested paths for a while, but have not been able to articulate them. I think this issue is a good starting point from which to dig in, to see how we can improve nested paths (including whether a structural change is needed or just documentation). At the same time, we'll need time to adequately address this

[2022-07-22 07:03] tlodderstedt commented on #350
I'm not sure what direction you want to go. Do you suggest to remove the "limit_disclosure" element underneath "constraints" and use "frame" instead?

[2022-08-03 10:16] andorsk opened #359 "Add optional `name` to the `Field` object in a Presentation Definition"
According to https://identity.foundation/presentation-exchange/#input-descriptor, a constraint field may contain the following properties; `path, id, purpose, and filter` with the `path` being the only required property. I would like to propose an additional property `name` to be added into the `fields` description.

A proposal of a complete description would be:

[code]

I have added an example o

[2022-08-03 13:31] nklomp commented on #359
You mean that it describes the optional 'filter' property?

I think it is a bit confusing. It might make more sense to move the field into an object with a name and schema then

[2022-08-03 17:22] andorsk commented on #359
@nklomp thanks for the response. I'm not sure though why `Purpose` and `ID` be reasonable to put at the same level as `Filter`, to describe the `Field` object, but `Name` would add complications? Adding name at an equal level to `Purpose` and `ID` seems to be more consistent with the current spec.

That being said: My specific use case is I need an easier human readable name for a PD within a Pres

[2022-08-03 17:31] decentralgabe commented on #359
@andorsk would it be possible to use either the `id` or `purpose` fields as your human readable names? like..

[code]

[2022-08-03 17:41] andorsk commented on #359
@decentralgabe tbh that relies on you having control over the Presentation Request's definitions, which may not always be the case. In my use case, I am rendering PR's, which I do not expect to control all the time. I need the `name` field to make the render human readable.

Also, `id` by definition needs to be unique, whereas name could be non-unique. An example could be where you ask for the fir

[2022-08-03 17:42] decentralgabe commented on #359
Gotcha, clearer now. I do think it's a valid property to add.

[2022-08-03 18:31] nklomp commented on #359
Okay that certainly makes it more clear. Not sure whether the proposed name property should mention anything about the schema though.

[2022-08-03 18:43] andorsk commented on #359
I've created a PR with a proposed addition to the spec. I welcome any suggestions/feedback.

[2022-08-08 19:15] decentralgabe opened #361 "Input Evaluation does not cover the case where constraints are empty"
https://identity.foundation/presentation-exchange/#input-evaluation

According to the data model, a Presentation Definition's Input Descriptors [may contain a constraints property](https://identity.foundation/presentation-exchange/#input-descriptor). This means that there are Input Descriptors without constraints.

Language is missing on how to process such Input Descriptors, which I imagine shoul

[2022-08-09 16:58] tlodderstedt commented on #350
I took a look at the frame definition. I don't think this is a suitable solution as it does not remove the ambiguity of the current construct and it is framed to LDP. I can do a PR but this would entail a new syntax to clearly distinguish between filtering and disclosing.

Note: whatever the solution will be, it is certainly normative as it requires a different syntax.

[2022-08-09 21:57] brentzundel commented on #361
This makes me wonder if an Input Descriptor without a constraints property makes any sense. What does an Input Descriptor that contists of only an Id field even mean?
In v1.0.0 the input descriptors would at least contain a schema property, so there was something to filter against on processing. Then we moved that to fields. . .

sounds like we've got a bug.

[2022-08-09 22:06] decentralgabe commented on #361
I agree, I think Input Descriptors need to be a required field.

[2022-08-15 23:46] Sakurann opened #363 "diff btw PE v1 and v2"
what are the differences between Presentation Exchange v1 and PE v2?
Would it be possible to add a section with bulletpoints enumerating major differences?

[2022-08-16 10:55] bumblefudge commented on #363
precedent/paragon here:
https://didcomm.org/book/v2/whatsnew

[2022-08-16 10:59] andorsk opened #364 "question/proposal: logic layer support"
I have a use case around adding an additional logic layer to the presentation exchange layer. I was hoping to get some feedback as to whether this was a reasonable proposal, and if not, how to handle this use case described below in the case.

In my use case, as a verifier I have some "logic" for how I request verification. For example, if you are X then prove Y. If you a V prove Z.  If you are M,

[2022-08-17 01:30] Sakurann commented on #363
? that's what's new in DIDComm v2, right?

[2022-08-17 14:38] nklomp commented on #364
This feels a bit like something which is called Present Proof (v2) in the Aries world (https://github.com/hyperledger/aries-rfcs/blob/main/features/0454-present-proof-v2/README.md) except than in a single exchange. To me it seems like this shouldn't be part of the Presentation Exchange itself, as it is not making any assumptions about its operating environment (OIDC, CHAPI, REST/VC-API).

Creating

[2022-08-17 20:28] andorsk commented on #364
@nklomp could you please elaborate on "Creating something like Present Proof with PE is certainly possible. Instead of trying to cram everything into 1 definition you could have multiple definitions being applied at a certain step in the exchange".

Re: the massive PE definitions, I will say that some of the use cases I am considering are considering complex scenarios of data verification. The PE

[2022-08-17 20:56] nklomp commented on #364
What I meant with my comment on Present Proof v2 is that the flow shown in the below picture, could be extended to further drill down based upon previous interactions. It would be relatively simple to extend it, especially since it already has the concept of suggesting an alternative presentation. Creating something like Present Proof V2 means no changes to the PE spec, and would also allow for so

[2022-08-18 07:24] SamerW opened #365 "server running error"
I have got this error while running the command: npx serve build
Any idea?

[code]

[2022-08-18 17:13] bumblefudge commented on #361
Discussed on today's call: proposal was to make at least one constraint (any of the optional constraint types) mandatory

[2022-08-18 17:20] bumblefudge commented on #355
To be discussed very soon!

[2022-08-25 17:10] #361 closed

[2022-08-25 18:57] Sakurann opened #367 "Verifier indicating if holder binding is needed or not"
How would a Verifier indicate whether holder binding is needed for a particular requested VC?

This section is limited to explaining various holder binding mechanisms: https://identity.foundation/presentation-exchange/#holder-and-subject-binding
`is_holder` only allows verifier to indicate whether subject of a VC is the iss of a VP, but does not allow to indicate whether VP is needed or not.

[2022-09-02 16:56] brentzundel commented on #367
`is_holder` indicates that the verifier wants proof that the holder of the credential is the subject of the claims presented.

[2022-09-05 17:35] andorsk commented on #364
Sorry for the delay in a response. I was waiting to see if anyone else would chime in.

Firstly, I agree to your point that there are advantages in having both multi-messaged proofing or combining all the requirements into a single proof. I don't think we need to restrict to one or another. Present Proof seems interesting, but I would think that we'd want something 1) that supports more complex qu

[2022-09-26 22:08] csuwildcat opened #371 "Add allow_self_issued boolean to input descriptors"
We should add an `allow_self_issued` boolean to input descriptors so that verifiers can explicitly note that an input can be fulfilled via the user submitting their own data.

[2022-09-29 18:06] colbyharrison opened #375 "Allow for optional constraints.fields"
Make it possible for constraints.fields to be optional. That is if for any reason the constraint.field cannot be met, it doesn't "fail" the constraint.

[2022-09-30 15:49] csuwildcat opened #376 "Add `name` property as optional property in each field entry."

[2022-09-30 16:00] mistermoe opened #377 "Optional constraint fields"
Is there any way other than using `submission_requirements` to support an optional field? e.g. middleName. Include it if you have it. It’d be somewhat unfortunate if optional fields aren’t supported in a way aside from using `submission_requirements` wherein two `input_descriptor` objects are provided for the same group and only 1 must be satisfied. 1 input_descriptor would include the optional fi

[2022-09-30 17:41] csuwildcat commented on #377
@dtmcg @brentzundel @kimdhamilton I really think this is a necessary addition, and is backwards compatible.

[2022-10-02 02:35] kimdhamilton commented on #377
yes, this makes sense. I wonder if we can reuse the required/preferred pattern here, and have required be default. Although I need to refresh my memory on whether that's applicable here

[2022-10-02 03:49] csuwildcat commented on #377
The default is already 'required' without any property, so if we did
`optional: true` it would be a gracefully upgrading addition.

On Sat, Oct 1, 2022, 9:35 PM Kim Hamilton Duffy ***@***.***>
wrote:

[2022-10-06 17:26] bumblefudge commented on #364
Group looking forward to a side-by-side comparison of today's ugly workaround versus a strawman with logic!

Defo part of bigger questions around extension points and sub-protocols/external protocols...

[2022-10-13 16:15] nklomp commented on #363
PR #369 Is ready for review.

I still want to have a quick look at whether the optional, prefered, required changes of Features need to be mentioned

[2022-10-13 17:33] andorsk commented on #364
https://jsonforms.io/examples/combinators/ <- From @csuwildcat

[2022-10-17 08:19] andorsk commented on #376
This is related to https://github.com/decentralized-identity/presentation-exchange/pull/360

[2022-10-17 21:10] brentzundel commented on #371
can this be closed now that #378 is merged?

[2022-10-17 21:12] brentzundel commented on #377
is this a duplicate of #375 ?

[2022-10-17 23:19] csuwildcat commented on #377
Yes, it's a dupe, and the PR closed both

[2022-10-20 16:47] brentzundel commented on #377
addressed by #378

[2022-10-20 16:47] #377 closed

[2022-10-20 16:47] brentzundel commented on #375
addressed by #378

[2022-10-20 16:47] #375 closed

[2022-10-20 17:25] dtmcg commented on #376
@csuwildcat is this addressed in https://github.com/decentralized-identity/presentation-exchange/pull/360 ?

[2022-10-27 17:23] andorsk commented on #359
Closing #360

[2022-10-27 17:23] #359 closed

[2022-11-03 13:17] andorsk opened #380 "remove agenda files?"
Are the agenda files https://github.com/decentralized-identity/presentation-exchange/blob/main/agenda2021-1.md and https://github.com/decentralized-identity/presentation-exchange/blob/main/agenda2022-1.md relevant anymore? Can they be moved? As a newer contributor, it seems like these are out of date and red herrings considering they haven't been updated since 11 months ago.

[2022-11-03 17:05] #376 closed

[2022-11-03 17:09] bumblefudge opened #381 "Minor tweak to Changelog needed for v2"
#369 may not include the last two minor changes
- name and descriptions

[2022-11-03 17:10] #363 closed

[2022-11-03 17:33] decentralgabe opened #382 "Add JWT Embed Target Examples"
Examples showing JWT with PE claims.

[2022-11-07 01:15] andorsk commented on #380
@csuwildcat @brentzundel any thoughts here?

[2022-11-10 18:08] andorsk commented on #381
@bumblefudge I can take this one if you want an issue off your plate

[2022-11-18 14:05] andorsk opened #385 "add data/flow relationship diagram to PE to visualize object flow"
Proposal here to add a diagram in the PE that shows the standard object relationship and flow. i.e PD, VP, PE, PS, etc between a holder and a verifier. I'm willing to take that up.

[2022-11-18 18:03] csuwildcat commented on #385
I'll get you setup with some permissions soon @andorsk

[2022-11-30 22:37] brentzundel commented on #380
maybe this is an indication that we should be trying harder to have an agenda . . .
or at least making sure notes are kept.

[2022-11-30 22:42] brentzundel commented on #385
I think the best course of action would be to make sure @andorsk is added to [The C & C WG Team](https://github.com/orgs/decentralized-identity/teams/cc-wg)
@wyc or @rado0x54 can you add him?